<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.shakrlabs.shotshakr" android:versionCode="1" android:versionName="1">
  <uses-sdk android:targetSdkVersion="16" />
  <application android:label="Shot Shakr">
  </application>
  <uses-permission android:name="android.permission.VIBRATE" />
</manifest>